.profile-container {
    margin-top: 54px;
    padding-bottom: 7px;

    .title {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 49px;

        color: #0A1629;
    }

    .context {
        display: flex;
        gap: 33px;
        margin-top: 7px;

        .profile-box {
            border-radius: 12px;
            width: 20%;
            background-color: #fff;
            padding: 0 25px;

            .header-showcase {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 140px;

                .img {
                    width: 72px;
                    height: 72px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #15C0E6;
                    color: #fff;
                    font-size: 40px;
                    border-radius: 50%;
                }

                .btn button {
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    user-select: none;
                }
            }

            .header-body {
                margin-top: 20px;

                .header-title {
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    /* or 150% */


                    color: #0A1629;
                    margin-bottom: 19px;
                }

                .profession {
                    margin-bottom: 10px;
                    color: #0A1629;
                    font-size: 14px;
                    font-family: 'Nunito Sans';
                    line-height: 21px;
                }

                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    li {
                        padding-left: 34px;
                    }
                }
            }
        }

        .box-on-right {
            width: 80%;
            display: flex;
            flex-direction: column;
            gap: 30px;

            .box {
                display: flex;
                flex-direction: column;
                gap: 30px;

                .box-title {
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 24px;
                    color: #444444;
                }

                .teachers {
                    display: flex;
                    gap: 15px;
                    margin-bottom: 36px;

                    .box-item {
                        width: 250px;
                        display: grid;
                        border-radius: 14px;
                        background-color: #fff;
                        padding: 8px 10px;
                        column-gap: 17px;
                        cursor: pointer;
                        user-select: none;
                        grid-template-areas:
                            "img name"
                            "img job";

                        .box-name {
                            grid-area: name;

                        }

                        .box-profession {
                            grid-area: job;
                        }

                        .img {
                            grid-area: img;
                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            background-color: var(--blue);
                            color: #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-size: 32px;
                        }
                    }
                }

                .table-container {
                    overflow: scroll;
                    position: relative;
                }

                table {
                    tr {
                        th {
                            width: 20px;
                            font-family: 'Light';
                            height: 40px;

                            span {
                                padding: 5px 10px;
                                font-family: 'Nunito Sans';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 13px;
                                line-height: 18px;

                                text-align: center;

                                color: #7D8593;
                                background: #fff;
                                border-radius: 7px;
                            }
                        }

                        td {
                            .table-button {
                                border: none;
                                background-color: #fff;
                                border: none;
                                display: block;
                                width: 28px;
                                margin: 4px;
                                height: 44px;
                                border-radius: 7px;
                            }

                            .w {
                                background-color: #6D5DD3;
                            }

                            .g {
                                background-color: red;
                            }

                            .c {
                                background-color: var(--blue);
                            }


                        }
                    }
                }

                .payment {
                    width: 80%;
                    display: flex;
                    gap: 12px;

                    .pay {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;

                        p {
                            padding: 7px 12px;
                            background-color: #fff;
                            color: #000;
                            text-align: center;
                            font-weight: 500;
                        }
                    }
                }

                .checks {
                    display: flex;
                    gap: 13px;

                    .check {
                        width: 98px;
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 144px;
                        background-color: #fff;

                        p {
                            cursor: pointer;
                            user-select: none;
                            font-family: 'Nunito Sans';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 13px;

                            text-align: center;

                            color: #000000;

                        }
                    }
                }
            }
        }
    }
}

.loader {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.profile-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}