.salary-container {
    margin-top: 56px;

    .salary-title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 49px;
        color: #0A1629;
        font-family: 'Medium';
        margin-bottom: 67px;
    }

    .salary-header{
        display: flex;
        justify-content: space-between;
    }
}