.payment-right {
    width: 35%;
    margin: 0 auto;
    border: 2px solid #212529;
    border-radius: 5px;
    height: 518px;
    border-radius: 12px;
    background-color: #f1faee;

    .payment-container {
        border-radius: 5px;
        display: flex;
        margin-top: 0;
        height: 100%;
        flex-direction: column;
        align-items: baseline !important;

        .payment-title {
            font-size: 32px;
            width: 100%;
            text-align: center;

            p {
                display: block;
            }
        }

        .payment-name {
            padding: 28.5px 10px;
            width: 100%;
            border: 1px solid #212529;
            
            .payment-name-text {
                border-bottom: 1px solid #212529;
                padding: 5px 10px;
                width: 100%;
            }

            .payment-date-now {
                display: flex;
                width: 100%;
                padding-bottom: 12px;
                gap: 5px;
                .d50 {
                    padding: 5px 10px;
                    border-bottom: 1px solid #212529;
                    width: 80%;
                    display: flex;
                    justify-content: center;
                }

                .d30 {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #212529;
                    width: 20%;
                }
            }
        }

        .payment-body {
            width: 100%;
            display: grid;
            height: 100%;
            grid-template-columns: 50% 50%;

            .payment-body-box {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 50px;
                border: 1px solid #212529;
            }

            .payment-header-box{
                width: 100%;
                display: flex;
                background-color: #eff6ec;
                justify-content: center;
                align-items: center;
                height: 50px;
                border: 1px solid #212529;    
                p{
                    font-weight: 700;
                    font-size: 20px;
                }
            }
        }

        .payment-footer{
            width: 100%;
        }

    }
}