.teacher-container {
    margin-top: 45px;

    .title {
        color: #0A1629;
        font-size: 36px;
        font-family: 'Nunito Sans';
        font-weight: 700;
    }

    .context {
        display: flex;
        gap: 35px;
        margin-top: 14px;

        .profile-box {
            width: 264px;
            padding: 14px 33px;
            height: 100vh;
            border-radius: 14px;
            background-color: #fff;

            .header-showcase {
                display: flex;
                margin-bottom: 54px;
                align-items: center;
                justify-content: space-between;

                .img {
                    width: 72px;
                    height: 72px;
                    border-radius: 50%;
                    background-color: var(--blue);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-size: 40px;
                }

                .btn button {
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    user-select: none;
                }
            }

            .header-body {
                .header-title {
                    color: #0A1629;
                    font-size: 16px;
                    font-family: 'Nunito Sans';
                    font-weight: 700;
                    margin-bottom: 19px;
                    line-height: 24px;
                }

                .profession {
                    color: #0A1629;
                    font-family: 'Nunito Sans';
                    line-height: 21px;
                    margin-bottom: 6px;
                }

                ul {
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    li {
                        padding-left: 34px;
                        font-size: 14px;
                        font-family: 'Light';
                        font-weight: 600;
                        line-height: 18px;
                    }
                }
            }
        }

        .for-right {
            width: 80%;

            .two-buttons {
                width: 100%;
                border-radius: 24px;


                .button-container {
                    width: 363px;
                    display: flex;
                    justify-content: space-between;
                    padding: 7px 16px;
                    border-radius: 24px;
                    background-color: #E6EDF5;

                    .btn button {
                        border-radius: 24px;
                        border: none;
                        text-align: center;
                        font-size: 16px;
                        transition: all 0.2s;
                        font-family: 'Light';
                        font-weight: 500;
                        background-color: transparent;
                        color: #000;
                        padding: 6px 39px;
                        cursor: pointer;
                        user-select: none;

                        &.active {
                            font-weight: 700;
                            font-family: 'Medium';
                            background-color: var(--blue);
                            color: #fff;
                        }
                    }
                }
            }

            .show {
                margin-top: 40px;

                .any {
                    display: flex;
                    flex-direction: column;
                    gap: 34px;
                    width: 40vw;

                    .groups {
                        display: flex;
                        width: 40vw;
                        gap: 58px;

                        .group {
                            padding: 28px;
                            border-radius: 24px;
                            background: #FFF;
                            box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.10);
                            display: flex;
                            flex-direction: column;
                            justify-content: left;
                            width: 265px;

                            img {
                                width: 44px;
                                height: 44px;
                                margin-bottom: 32px;
                            }

                            .groupName {
                                margin-bottom: 8px;
                                color: #0A1629;
                                font-family: Nunito Sans;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 26px;
                            }

                            .studentsNumbers {
                                color: #91929E;
                                font-family: Nunito Sans;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }
                }

                .any table {
                    border: var(--blue);
                    width: 90%;
                    border-collapse: collapse;

                    thead {
                        tr {
                            background-color: var(--blue);


                            th {
                                border: var(--blue);
                                border-collapse: collapse;

                                p {
                                    padding: 16px;
                                    color: var(--white, #FFF);
                                    text-align: center;
                                    font-size: 14px;
                                    text-align: center;
                                    font-family: Roboto;
                                    background: var(--blue, #06F);
                                    font-weight: 500;
                                    font-family: 'Nunito Sans';
                                    line-height: 16px;
                                }
                            }
                        }
                    }

                    tbody {
                        td {
                            border: var(--blue);
                            border-collapse: collapse;
                            background-color: #ffff;

                            .check {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding-left: 16px;

                                label {
                                    input {
                                        display: none;
                                    }

                                    input:checked+.fake::before {
                                        opacity: 1;
                                    }

                                    .fake {
                                        display: inline-block;
                                        width: 20px;
                                        height: 20px;
                                        position: relative;
                                        border: 1px solid #E8E7E7;

                                        &::before {
                                            content: '';
                                            position: absolute;
                                            display: block;
                                            width: 20px;
                                            height: 20px;
                                            opacity: 0;
                                            transition: all 0.15s;
                                            background-image: url('../../../public/img/checkbox.png');
                                            background-size: cover;
                                            background-position: center;
                                            background-repeat: no-repeat;
                                            top: 50%;
                                            left: 50%;
                                            transform: translate(-50%, -50%);
                                        }
                                    }
                                }

                                p {
                                    width: 84px;
                                    height: 100%;
                                    text-align: center;
                                    color: var(--blue);
                                }
                            }

                            p {
                                padding: 16px;
                                text-align: center;
                            }
                        }
                    }

                }

                .students-cards {
                    display: flex;
                    flex-direction: column;
                    gap: 23px;

                    .student-card {
                        display: grid;
                        grid-template-columns: 32.5% 62.5%;
                        background-color: #fff;
                        padding: 19px 26px;
                        border-radius: 24px;
                        box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.10);

                        .names {
                            display: flex;
                            align-items: center;
                            gap: 16px;

                            .img {
                                width: 72px;
                                height: 72px;
                                border-radius: 50%;
                                background-color: var(--blue);
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                color: #fff;
                                font-size: 40px;
                            }
                        }

                        .boxs {
                            display: flex;
                            gap: 30px;

                            .box {
                                display: flex;
                                flex-direction: column;
                                gap: 4px;

                                p:first-child {
                                    color: #91929E;
                                    font-size: 14px;
                                    font-family: 'Nunito Sans';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}