.attendance-container {
    margin-top: 70px;
    display: flex;
    height: 80vh;
    flex-direction: column;

    .title {
        font-family: 'Medium';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        margin-bottom: 53px;
        line-height: 24px;
        color: #91929E;
    }

    .container-information {
        width: 100%;
        border-bottom-left-radius: 24px;
        border-bottom-right-radius: 24px;
        background-color: #fff;
        display: flex;
        justify-content: flex-end;
        .contain {
            width: 70%;
            height: 100%;
            padding: 25px 0;
            display: flex;
            gap: 210px;
            align-items: center;

            .box-information {
                padding: 5px 7px;
                display: flex;
                align-items: center;
                gap: 13px;

                .simple {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                }

                .blue {
                    background-color: #15C0E6;
                }

                .violet {
                    background-color: #6D5DD3;
                }

                .red {
                    background-color: #F65160;
                }

                p {
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    color: #0A1629;
                }
            }
        }
    }

    table {
        box-shadow: 0px 6px 58px rgba(196, 203, 214, 0.103611);
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        background-color: #fff;
        padding-top: 24px;


        thead {
            height: 20px;

            th {
                width: 20px;
                font-family: 'Light';
                height: 40px;

                .form-input-seach {
                    display: flex;
                    margin-left: 14px;
                    border-radius: 14px;
                    margin-right: 22px;
                    margin-bottom: 11px;
                    background-color: #F4F9FD;

                    input {
                        width: 80%;
                        border: none;
                        font-size: 14px;
                        font-family: var(--ff);
                        padding: 11px 15px;
                        background-color: transparent;

                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            color: #999999;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }

                    button {
                        width: 20%;
                        padding: 11px 15px;
                        display: flex;
                        border: none;
                        background-color: transparent;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .work_day {
                    padding: 5px 10px;
                    font-family: 'Nunito Sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 13px;
                    line-height: 18px;
                    /* identical to box height, or 138% */

                    text-align: center;

                    color: #7D8593;
                    background: #F4F9FD;
                    border-radius: 7px;

                }
            }
        }

        tbody {
            margin-top: 2rem;

            tr {

                #uuid {
                    .user {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 14px 24px;
                        border-bottom: 1px solid #E6EBF5;
                        cursor: pointer;

                        img {
                            border-radius: 50%;
                        }
                    }
                }

                td {


                    .table-button {
                        border: none;
                        background-color: #F4F9FD;
                        border: none;
                        width: 28px;
                        margin: 4px;
                        border-radius: 7px;
                        height: 44px;
                        border-radius: 7px;

                    }

                    .active {
                        background-color: rgba(0, 128, 0, 0.684);
                    }

                    .notCome {
                        background-color: #F65160;
                    }

                    .by {
                        background-color: #15C0E6;
                    }
                }
            }
        }
    }
}