@font-face {
  font-family: 'Light';
  src: url('../public/fonts/static/NunitoSans_10pt-Light.ttf');
}

@font-face {
  font-family: 'Medium';
  src: url('../public/fonts/static/NunitoSans_7pt-Medium.ttf');
}

:root{
  --blue: #3F8CFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}