.container2 {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: grid;
    grid-template-columns: 18% 82%;
}

.container3 {
    background-color: #F4F9FD;
}

.left-container {
    width: 100%;
}