.payment-container {
    display: flex;
    justify-content: center;
    height: 75%;
    align-items: center;
    margin-top: 25px;

    .payment-left {
        width: 50%;

        p:first-child {
            color: #0A1629;
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 49px;
            font-family: 'Medium';
            color: #0A1629;
        }

        .payment-form {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .radios {
                display: flex;
                gap: 15px;
                margin-bottom: 12px;
                .radio-btn{
                    button{
                        padding: 7px 12px;
                        font-size: 20px;
                        color: #fff;
                        background-color: #3F8CFF;
                        border: none;
                        border-radius: 7px;
                    }
                }

                .radio-active{
                    button{
                        opacity: .7;
                    }
                }
            }



            .contain-select {
                width: 100%;
                display: flex;
                font-size: 16px;
                padding: 19px 0;
                flex-direction: column;

                select {
                    width: 100%;
                    padding: 17px 15px;
                    border: none;
                    background: #FFFFFF;
                    outline: 1px solid #D8E0F0;
                    box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.222055);
                    border-radius: 14px;
                    transition: all .1s;
                    font-size: 16px;
                    color: #7D8592;
                    appearance: none;
                }
            }

            .payment-button button {
                padding: 12px 72px;
                background: #FFFFFF;
                border: 1px solid #D8E0F0;
                box-shadow: 0px 1px 2px rgba(184, 200, 224, 0.222055);
                border-radius: 14px;
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
            }
        }
    }


}